animation==0.0.7
base58==2.1.1
bech32==1.2.0
cbor2==5.4.3
crypto==1.4.1
cryptography~=41.0.0
gql==3.4.0
inquirer==2.9.0
Pillow==9.3.0
py-algorand-sdk==1.8.0
pycryptodome==3.11.0
qrcode==7.3.1
solana==0.25.0
stellar_base==1.1.2.0
substrate-interface==1.1.7
termcolor==1.1.0
